.app {
  margin: 0;
  width: auto;
}

.header {
  cursor: pointer;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  background-color: #4c346b;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.loader {
  padding: 30px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.small {
  font-size: 14px;
}

.xsmall {
  font-size: 10px;
}

.Block .title {
  margin: 40px;
  color: #ff6e6c;
  text-align: center;
}

.main {
  background-color: #f4effc;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Block {
  padding: 20px;
}

.Quote {
  cursor: pointer;
  padding: 20px;
  margin: 25px;
  background: #e2daeb;
  border-radius: 5px;
  color: #1b1325;
}

.Quote:hover {
  background: #ffffff;
}

.link {
  margin: 10px;
}